.sun__ctn {
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  aspect-ratio: 1;
}

.sun {
  position: absolute;
  display: flex;
  aspect-ratio: 1;
  width: 25vw;
  /* max-width: 400px; */
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(12, 29, 67, 1) 0%,
    rgba(6, 21, 36, 1) 75%
  );
  background-size: 100% 200%;
  background-position: bottom center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.sun::after{
  content: "";
  z-index: -1;
  display: flex;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgb(25, 156, 170),
    rgb(168, 33, 178),
    rgb(10, 36, 62),
    rgb(170, 25, 110),
    rgb(170, 25, 90)
  );
  background-size: 150% 150%;
  /* filter: blur(40px); */
  scale: 1.1;
  animation: background-pan 15s cubic-bezier(0.57, 0.67, 0.33, 0.57) infinite;
} 

@keyframes background-pan {
  0% {
    rotate: 0deg;

    filter: blur(30px);
  }
  25% {
    filter: blur(20px);
  }
  50% {
    filter: blur(10px);
  }
  75% {
    filter: blur(20px);
  }
  100% {
    rotate: 360deg;
    filter: blur(30px);
  }
}
