.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.511);
  height: calc(100% - 1rem);
  width: calc(100% - 0.5rem);
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
}
