.contact__ctn {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.constellation__ctn {
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  /* aspect-ratio: 1; */
  background-color: rgba(18, 141, 207, 0.1);
  margin-top: 2rem;
}

.constellation__ctn svg {
  width: 100%;
  height: 100%;
}

.starlink__ctn {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.starlink {
  /* position: absolute; */
  width: 15px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
}

.starlink:hover {
  transform: scale(3);
  border-radius: 50%;
}

.cntc__title {
  font-family: "jost", sans-serif;
  font-size: 35px;
  line-height: 2;
}

.cntc__subtxt {
  font-family: "jost", sans-serif;
  font-size: 25px;
  line-height: 0;
}

.ctnc__cntr{
  display: flex;
  gap: 2rem;
}
